tox
pep8
oslo.utils
shade>=1.7.0
ansible>=2.1.0.0,<3,<2.2
python-novaclient
python-glanceclient
python-cinderclient
python-neutronclient
python-keystoneclient
-e git://github.com/timrchavez/ursula-cli.git@master#egg=ursula-cli
